@media screen and (max-width: 768px) {
  .home-banners img,.home-post{
	  margin-bottom: 30px;
  }
  
  .site-branding{
	  margin: 0px auto 20px;
	  float: none!important;
	  text-align: center;
  }
  .topcart{
	  float: none!important;
	  width: 220px;
	  margin: 0px auto;
  }
  .dropdown-cart-button{
	  margin: 0px auto;
  }
}
